<div class="home-page">
    <header class="navbar">
      <div class="logo"> <a routerLink="/home"> <img src="logo.png" alt="Logo SprintDash" width="70px" style="margin: 0"></a></div>
      <nav>
        <a href="#">Help</a>
        <a href="/dashboard">Services</a>
        <a href="#">Contact us</a>
      </nav>
    </header>
    <section class="hero-section">
      <div class="hero-content">
        <h1>DashSprint</h1>
        <p>All the best KPIs for your agile sprints in one place.</p>
        <div class="video-button">
          <button class="play-button">
            <span>&#9658;</span> Watch Video
          </button>
        </div>
        <p class="description">Our application provides you with the best insights for managing your agile workflows.</p>
        <div class="cta-buttons">
          <button class="cta-btn view-more"> <a routerLink="/login"> Login </a></button>
          <button class="cta-btn learn-more"><a routerLink="/signup">Sign Up</a></button>
        </div>
      </div>
    </section>
  </div>
  
