<div class="dashboard-container">
    <aside class="sidebar">
      <div class="logo">
            <a routerLink="/home"><img src="logo-4.png" alt="Logo DashSprint"></a>
            <p>DashSprint</p>
      </div>
      <hr class="divider">
      <ul class="menu">
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/project" routerLinkActive="active">Project</a></li>
        <li><a routerLink="/sprints-table" routerLinkActive="active">Sprints Table </a></li>
        <li><a routerLink="/kpis-evolution" routerLinkActive="active">KPIs Evolution</a></li>
        <li><a routerLink="/user-profile" routerLinkActive="active">User Profile</a></li>
        <li><a routerLink="/notifications" routerLinkActive="active">Notifications</a></li>
        <li><a routerLink="/home" routerLinkActive="active" id="logout">Logout</a></li>        
      </ul>
    </aside>
    <main class="content">
      <div class="header">
        <h3>Sprint Management Dashboard</h3>
        <div class="header-right">
          <div class="search-bar">
            <input type="text" placeholder="Search..." />
            <button>🔍</button>
          </div>
          <button class="refresh-btn" (click)="refreshKPIs()">🔄 Refresh KPIs</button>
          <div class="notification">
            <button class="notification-btn">
              🔔
              <span class="badge">4</span>
            </button>
            <div class="dropdown">
              <ul>
                <li>Mike John responded to your email</li>
                <li>You have 5 new tasks</li>
                <li>Another Notification</li>
                <li>Another One</li>
              </ul>
            </div>
          </div>
          
          <div class="profile">
            <a routerLink="/user-profile"><img src="profile.png" alt="Profile"  /></a>
          </div>
        </div>
      </div>
      
  
      <div class="stats-cards">
        <div class="card">
          <h3>Sprints</h3>
          <div class="card-stats">
            <div class="stat">
              <p class="value">{{ totalSprints }}</p>
              <p class="label">Total</p>
            </div>
            <div class="divider"></div>
            <div class="stat">
              <p class="value">{{ openedSprints }}</p>
              <p class="label">Opened</p>
            </div>
          </div>
        </div>
        <div class="card">
          <h3>Tasks</h3>
          <div class="card-stats">
            <div class="stat">
              <p class="value">{{ totalTickets }}</p>
              <p class="label">Total</p>
            </div>
            <div class="divider"></div>
            <div class="stat">
              <p class="value">{{ completedTickets }}</p>
              <p class="label">Completed</p>
            </div>
          </div>
        </div>
        <div class="card">
          <h3>Story Points</h3>
          <div class="card-stats">
            <div class="stat">
              <p class="value">{{ totalStoryPoints }}</p>
              <p class="label">Planned</p>
            </div>
            <div class="divider"></div>
            <div class="stat">
              <p class="value">{{completedStoryPoints}}</p>
              <p class="label">Completed</p>
            </div>
          </div>
        </div>
        <div class="card">
          <h3>Bugs</h3>
          <div class="card-stats">
            <div class="stat">
              <p class="value">{{totalBugs}}</p>
              <p class="label">Total</p>
            </div>
            <div class="divider"></div>
            <div class="stat">
              <p class="value">{{resolvedBugs}}</p>
              <p class="label">Resolved</p>
            </div>
          </div>
        </div>
      </div>      
  
      <div class="charts">
        <!-- Chart 1 -->
        <div class="chart-card" id="chart1">
          <app-velocity ngSkipHydration></app-velocity>
        </div>
         <div class="progress">
          <!-- Chart 2 -->
          <div class="chart-card" >
            <h5>Sprint Goal Progress</h5>
            <app-sprint-rate ngSkipHydration></app-sprint-rate>
  
          </div>
          <!-- Chart 3 -->
          <div class="chart-card">
            <h5>User Story Completion Rate</h5>
            <app-story-points-rate ngSkipHydration></app-story-points-rate>
          </div>
         </div>
      </div>
    </main>
  </div>
  